ul {
    background-color: gold;
    color: black;
    font-family: 'Consolas', 'sans-serif';
}

.steps {
    font-size: 11px;
    padding: .5em;
    margin: 5em;
    display: flex;
    border: 1px solid rebeccapurple;
}

.stove {
    display: inline-flex;
    border: 1px dashed coral;
}